.btn {
    padding: 10px 20px;
    border: 0;
    border-radius:5px;
    margin: 10px
}

.login{
    background-color: aquamarine;
    color: white;
}

.cta {
    background-color:skyblue;
    color: white;
}